.Body {
    display: flex;
    grid-template-columns: repeat(3, auto);

}

.bigcard{
    width:100%;
    height:400px;
    width:50%;
    
    .picture{
        background-image: url(../Header/Menu/card.png);
        height: 100%;
    }
}