.Header {
    width: 100vw;
    height: fit-content;

        @keyframes blink {
            0% {
                text-shadow: 0;
            }

            50% {
                text-shadow: 0 0 10px;
            }

            100% {
                text-shadow: 0;
            }
        }

    }
