.Header {
    width: 100vw;
    height: fit-content;

    .Pre_Content {
        height: 600px;
        background-color: var(--bg);
        box-shadow: 0px 2px 5px 0px;
        display: grid;
        grid-template-columns: repeat(5, auto);

        @media(max-width:1440px) {
            display: flex;
            flex-direction: column;
            height: 2000px;
        }

        div {
            width: 307px;
            height: 360px;
            place-self: center;
            margin: 30px 0 30px 0;
            background-color: var(--red);
            border-radius: 10px;
            display: flex;
            background-image: url(./card.png);
            filter: saturate(0);
            transition: 0.5s;

            &:hover {
                filter: saturate(1);
            }
        }

        #card2 {
            background-image: url(./card2.png);
        }

        #card3 {
            background-image: url(./card3.png);
        }

        #card4 {
            background-image: url(./card4.png);
        }

        #card5 {
            background-image: url(./card5.png);
        }

    }

    .Section1 {
        height: 400px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        place-items: center;
        background-color: var(--bg-accent);

        .socials {
            width: fit-content;
            height: fit-content;
            grid-column: 1;

            a {
                padding: 20px;
                transition: 0.3s ease-out;
                font-size: 1vmax;
                border-radius: 5px;

                &:hover {
                    color: var(--green);
                }

                @media(max-width:1024px) {
                    font-size: 1vmax
                }
            }
        }

        .textS1 {
            width: fit-content;
            text-align: left;
            grid-column: 1;
        }

        .title {
            color: var(--text-color);
            font-size: 3vmax;
            letter-spacing: 22px;
        }

        .text {
            color: var(--bg);
            font-size: 1.7vmax;
            color: mediumspringgreen;
            animation: blink infinite 3s;
        }

        @keyframes blink {
            0% {
                text-shadow: 0;
            }

            50% {
                text-shadow: 0 0 10px;
            }

            100% {
                text-shadow: 0;
            }
        }

    }
}